body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h4 {

    padding-left: 100px;   
}



.tooltip{
    position:absolute;
    background-color: grey;
    border: solid;
    padding: 5px;
}

.containers {
            width: 300px;
            height: 150px;
            border: 1px solid black;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            text-align: center;
            background-color: gold;
}


#vis2_3{
    display: flex;
    justify-content: space-around;

}

/* scatterplot highlight/selection formatting */
  .selected {
    stroke-width: 3px;
    stroke:rgb(0,0,0);
    opacity: 1;
  }